<% @rooms.each do |room| %>
                <tbody>
                  <tr>
                    <td>
                      <td><%= link_to room do %>
                          <%= attachment_image_tag room, :image,　fallback: "no-image.png", style: "height: 100px; width:150px;" %></td>
                          <% end %>
                      <td>
                      <%= room.title %>
                    </td>
                    <td>
                      <%= room.body %>
                    </td>
                  </tr>
              <% end %>